@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}


/* Header */

header {
    height: 100vh;
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 14px;
    /* border: 1px solid skyblue; */
}

#Title {
    display: flex;
    align-items: center;
}

.TitleName {
    font-weight: bold;
    font-size: 24px;
    padding: 0 14px 0 0;
    cursor: pointer;
}

.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: black;
    font-size: 16px;
    padding: 14px;
    margin: 14px;
}

.UserAction {
    display: flex;
    font-size: 16px;
}

.UserAction a {
    padding: 14px;
    margin: 14px;
    color: #FA7436;
}

.OrangeButton {
    padding: 14px;
    margin: 14px;
    border-radius: 4px;
    width: fit-content;
    background: #FA7436;
    color: #FFFFFF;
    cursor: pointer;
}

.Info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 75%;
    /* border: 2px solid red; */
}

.ContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 600px;
    /* height: 100%; */
    /* background: skyblue; */
}

.ContentContainer h1 {
    font-family: "Volkhov", serif;
    font-size: 64px;
    font-weight: bold;
    line-height: 70px;
}

.ContentContainer span {
    color: #FA7436;
}

.ContentContainer p {
    font-family: "Poppins", "serif";
    font-size: 20px;
    color: #666666;
}

.WhiteButton {
    font-size: 18px;
    width: fit-content;
    padding: 10px;
    background: white;
    color: #FA7436;
    border: 1px solid #FA7436;
    cursor: pointer;
}


/* Image Container */
.ImageContainer {
    position: relative;
    height: 100%;
    width: 550px;
    /* background: lightpink; */
    z-index: -1;
    background: gray;
}

.BGImageContainer {
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background: lightcoral; */
    z-index: -1;
}

.MenPNG {
    display: flex;
    justify-content: center;
    /* background: orange; */
}

.MenPNG img {
    position: absolute;
    top: 160px;
    width: 350px;
    height: 400px;
}



/* Cards */
.Cards {
    position: absolute;
    font-size: 16px;
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    word-wrap: break-word;
    font-family: "Poppins", "serif";
}

.BestTour {
    color: #444444;
    font-size: 16px;
    top: 40%;
    left: 10%;
}

.BestTour div img {
    padding-left: 4px;
}

.ReviewContainer {
    font-size: 12px;
    top: 400px;
    right: 450px;
}

.ReviewContainer img {
    padding: 0 3px 0 4px;
}

.Review h3 {
    font-size: 16px;
}

.ExploreContainer {
    height: 60px;
    top: 320px;
    right: 150px;
}

.Review h3 {
    font-size: 16px;
}

.Review h4 {
    font-size: 12px;
    color: #666666;
}

.BookingDetailsContainer {
    height: 80px;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 10px;
}

.Card2 {
    width: 100px;
    background: cyan;
}