@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* Common Use Like Components Start */

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

/* Common Use Like Components End */




/* Header */

header {
    height: 100vh;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 14px;
    /* border: 10px solid skyblue; */
}

#Title {
    display: flex;
    align-items: center;
}

.TitleName {
    font-weight: bold;
    font-size: 24px;
    padding: 0 14px 0 0;
    cursor: pointer;
}

.Links {
    padding-left: 100px;
    /* border: 2px solid darkblue; */
}

.Nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    /* border: 2px solid salmon; */
}

nav a {
    color: black;
    font-size: 16px;
    padding: 14px;
    margin: 14px;

}


.UserAction {
    display: flex;
    align-items: center;
    font-size: 16px;
    height: 50px;
}

.UserActionButton a {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    color: black;
}

.OrangeButton {
    background: #FA7436;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}

.OrangeButton a {
    color: white;
}


.Info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 75%;
    /* border: 2px solid red; */
}

.ContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 600px;
    /* height: 100%; */
    /* background: skyblue; */
}

.ContentContainer h1 {
    font-family: "Volkhov", serif;
    font-size: 64px;
    font-weight: bold;
    line-height: 70px;
}

.ContentContainer span {
    color: #FA7436;
}

.ContentContainer p {
    font-family: "Poppins", "serif";
    font-size: 20px;
    color: #666666;
}

.WhiteButton {
    font-size: 18px;
    width: fit-content;
    padding: 10px;
    background: white;
    color: #FA7436;
    border: 1px solid #FA7436;
    cursor: pointer;
}


/* Image Container */
.ImageContainer {
    position: relative;
    height: 100%;
    width: 550px;
    /* background: lightpink; */
}

.BGImageContainer {
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background: lightcoral;
    border: 2px solid #FA7436; */
}

/* .OrangeOfCircle {
    position: absolute;
    top: 40%;
} */

.MenPNG {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 80px;
}

.MenPNG img {
    width: 350px;
    height: 400px;
}

.Cards {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 5px 0px 5px 5px;
    font-size: 16px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 6px 5px 0px rgba(0, 0, 0, 0.2);
}

.BestTour.Cards {
    top: 28%;
    left: 3px;
    width: 150px;
}

.CardsContent {
    font-size: 16px;
}

.BestTour.Cards::before {
    content: url("assets/trophy-removebg-preview\ 1.svg");
    padding-right: 10px;
    transform: scale(0.8);
}

.CustomerReview.Cards {
    width: 170px;
    top: 65%;
    left: 10%;
}

.CustomerReview.Cards #NumberOfCustomerReview {
    font-weight: bold;
    font-size: 16px;
    color: #444444;
}

.CustomerReview.Cards #NumberOfCustomerReviewText {
    font-size: 12px;
    color: #666666;
}

.CustomerReview.Cards::before {
    content: url(assets/star\ 1.jpg);
    padding-right: 10px;
    transform: scale(0.8);
}


.ExploreContainer.Cards {
    width: 160px;
    top: 45%;
    right: 10%;
}

.ExploreContainer.Cards::before {
    content: url(assets/google-maps\ 1.svg);
    padding-right: 10px;
    transform: scale(0.8);
}

.ExploreContainer.Cards .CardsContent #ExploreTitle {
    font-weight: bold;
    font-size: 16px;
    color: #444444;
}

.ExploreContainer.Cards .CardsContent #ExploreText {
    font-size: 12px;
    color: #666666;
}


.BookingDetailsContainer {
    height: 80px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 10px;
    margin-top: 24px;
    /* border: 2px solid red; */
}

.Card2 {
    width: 100px;
    background: pink;
}