@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}


.section {
    display: flex;
    min-height: 100vh;
    max-height: auto;
    width: 90%;
    margin: 14px auto;
    background: white;
    /* border: 2px solid red; */
}


.OrangeButton {
    background: #FA7436;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}

.WhiteButton {
    font-size: 18px;
    width: fit-content;
    padding: 10px;
    margin: 24px 0 0 0;
    background: white;
    color: #FA7436;
    border: 1px solid #FA7436;
    cursor: pointer;
}

/* Navigation Bar  */

#Title {
    display: flex;
    align-items: center;
}

.TitleName {
    font-weight: bold;
    font-size: 24px;
    padding: 0 14px 0 0;
    cursor: pointer;
}

.Nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    /* border: 2px solid salmon; */
}

nav a {
    color: black;
    font-size: 16px;
    padding: 14px;
    margin: 14px;
}

.UserAction {
    display: flex;
    align-items: center;
    font-size: 16px;
    height: 50px;
}

.UserActionButton a {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    color: black;
}

.OrangeButton a {
    color: white;
}


/* Content */

header.section {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.Information {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 14px 0 0 0;
    /* border: 2px solid red; */
}


.Information .ContentContainer {
    width: 480px;
    /* background: pink; */
}


/* Home Page Right Side Images Styles */

.Information .BGImageContainer {
    position: relative;
    height: 400px;
    width: 450px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: gold; */
}

.BGImageContainer .Flights {
    right: 0;
    top: -24px;
    position: absolute;
    /* border: 2px solid red; */
}

.BGImageContainer .OrangeOfCircle {
    top: 50%;
    position: absolute;
}

.BGImageContainer .MenPNG img {
    position: absolute;
    top: 55px;
    right: 15%;
    width: 300px;
    height: 350px;
}


/* Home Page : Left Side Content  */
.ContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ContentContainer h1 {
    font-family: "Volkhov", serif;
    font-size: 50px;
    font-weight: bolder;
    line-height: 70px;
    z-index: 1;
}

.ContentContainer span {
    color: #FA7436;
}

.ContentContainer p {
    font-family: "Poppins", "serif";
    font-size: 20px;
    color: #666666;
}

/* Anatomy Cards Styles */
.Cards {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 5px 0px 5px 5px;
    font-size: 16px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 1px 2px 14px rgba(0, 0, 0, 0.3);
}

.BestTour.Cards {
    top: 25%;
    left: -20px;
    width: 150px;
}

.CardsContent {
    font-size: 16px;
}

.BestTour.Cards::before {
    content: url(assets/Trophy.svg);
    padding-right: 10px;
    transform: scale(0.8);
}

.CustomerReview.Cards {
    width: 170px;
    top: 65%;
    left: 1%;
}

.CustomerReview.Cards #NumberOfCustomerReview {
    font-weight: bold;
    font-size: 16px;
    color: #444444;
}

.CustomerReview.Cards #NumberOfCustomerReviewText {
    font-size: 12px;
    color: #666666;
}

.CustomerReview.Cards::before {
    content: url(assets/Star.svg);
    padding-right: 10px;
    transform: scale(0.8);
}


.ExploreContainer.Cards {
    width: 160px;
    top: 45%;
    right: 2%;
}

.ExploreContainer.Cards::before {
    content: url(assets/Google_Map.svg);
    padding-right: 15px;
    transform: scale(0.8);
}

.ExploreContainer.Cards .CardsContent #ExploreTitle {
    font-weight: bold;
    font-size: 16px;
    color: #444444;
}

.ExploreContainer.Cards .CardsContent #ExploreText {
    font-size: 12px;
    color: #666666;
}

/* Booking Information */

.BookingDetailsContainer {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    margin: 25px auto 10px;
    padding: 14px;
    gap: 50px;
    border-radius: 5px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    /* filter: drop-shadow(0 0 14px red); */
}

.BookingDetailsCards {
    padding: 14px;
}

.BookingDetailsCardsTitle {
    color: #222222;
    font-size: 14px;
    font-weight: 600;
}

.BookingDetailsCardsText {
    color: #666666;
    font-size: 12px;
    font-weight: 400;
}

.BookingDetailsCardsTitle::after {
    content: url(../assets/Down_Arrow.svg);
    padding-left: 3px;
}






/* Part 2 Styles */

section.section {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: rgba(0, 0, 0, 0.1); */
}


/* Page 2 Title Styles */
.section .Page2Title {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 24px;
}

.section .Page2Title .Page2Title_Para {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.section .Page2Title .Page2Title_Para h4 {
    font-size: 48px;
    font-family: "Volkhov", serif;
    font-weight: bold;
}

.section .Page2Title .Page2Title_Para p {
    font-family: "Poppins", "serif";
    color: #666666;
    font-size: 18px;
}

.section .Page2Title .Page2Title_Para span {
    color: #FA7436;
}


.section .Page2Title img {
    width: 150px;
    position: absolute;
    right: -150px;
}

/* Page 2 Cards Styles */
.section .Page2Cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 24px;
    /* border: 2px solid salmon; */
}

.section .Page2Cards .Page2Card {
    height: 200px;
    width: 320px;
    padding: 14px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
}

.Page2Card .Page2CardsContents div {
    font-size: 24px;
    font-family: "Poppins", "serif";
    font-weight: 500;
    color: #222222;
    margin-bottom: 10px;
}

.Page2Card .Page2CardsContents p {
    word-wrap: break-word;
    font-size: 16px;
    font-family: "Poppins", "serif";
    font-weight: 300;
    color: #222222;
}


.Page2Cards .Page2Card .Page2Img img {
    width: 40px;
}