@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}


.section {
    display: flex;
    height: 100vh;
    width: 90%;
    margin: 14px auto;
    background: white;
    /* border: 2px solid red; */
}


.OrangeButton {
    background: #FA7436;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}

.OrangeButton a {
    color: white;
}


/* Navigation Bar  */

#Title {
    display: flex;
    align-items: center;
}

.TitleName {
    font-weight: bold;
    font-size: 24px;
    padding: 0 14px 0 0;
    cursor: pointer;
}

.Nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    /* border: 2px solid salmon; */
}

nav a {
    color: black;
    font-size: 16px;
    padding: 14px;
    margin: 14px;

}

.UserAction {
    display: flex;
    align-items: center;
    font-size: 16px;
    height: 50px;
}

.UserActionButton a {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    color: black;
}


/* Content */

header.section {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.Information {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}


.Information .ContentContainer {
    width: 500px;
    /* background: pink; */
}

.Information .BGImageContainer {
    position: relative;
    height: 400px;
    width: 500px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: gold; */
}

.BGImageContainer .Flights {
    top: -24px;
    position: absolute;
    /* border: 2px solid red; */
}

.BGImageContainer .OrangeOfCircle {
    top: 50%;
    position: absolute;
}

.BGImageContainer .MenPNG img {
    position: absolute;
    top: 10px;
    right: 20%;
    width: 300px;
    height: 400px;
}


.ContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ContentContainer h1 {
    font-family: "Volkhov", serif;
    font-size: 64px;
    font-weight: bold;
    line-height: 70px;
}

.ContentContainer span {
    color: #FA7436;
}

.ContentContainer p {
    font-family: "Poppins", "serif";
    font-size: 20px;
    color: #666666;
}

/* Booking Information */

.BookingDetailsContainer {
    height: 80px;
    display: flex;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    margin: 25px auto 10px;
    padding: 14px;
    gap: 50px;
    border-radius: 5px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    /* filter: drop-shadow(0 0 14px red); */
}

.BookingDetailsCards {
    padding: 14px;
}

.BookingDetailsCardsTitle {
    color: #222222;
    font-size: 14px;
    font-weight: 600;
}

.BookingDetailsCardsText {
    color: #666666;
    font-size: 12px;
    font-weight: 400;
}

.BookingDetailsCardsTitle::after {
    content: url(../assets/Vector\ 4855.svg);
    padding-left: 3px;
}